Measure of central tendency

In [2]:
age = [12,13,41,12,23,23,12,14,15,16,7]

In [3]:
import numpy as np
np.mean(age)

17.09090909090909

In [4]:
weight = [24,52,62,24,52,62,77,84,14]

In [5]:
np.mean(weight)

50.111111111111114

In [11]:
import seaborn as sns
df = sns.load_dataset("tips")

In [12]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [13]:
df.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [14]:
np.mean(df["total_bill"])

19.78594262295082

Median

In [15]:
age = [12,13,41,12,23,23,12,14,15,16,7]

In [16]:
np.median(age)

14.0

In [18]:
from scipy import stats

In [19]:
stats.mode(age)

ModeResult(mode=12, count=3)

In [20]:
np.median(df["tip"])

2.9

In [23]:
stats.mode(df["tip"])

ModeResult(mode=2.0, count=33)

In [30]:
np.unique(df["sex"])

array(['Female', 'Male'], dtype=object)