In [2]:
import seaborn as sns
df = sns.load_dataset("tips")

In [5]:
df_numeric = df.select_dtypes(include=['float64', 'int64'])
df_numeric.cov()

            total_bill       tip      size
total_bill   79.252939  8.323502  5.065983
tip           8.323502  1.914455  0.643906
size          5.065983  0.643906  0.904591