In [1]:
import pandas as pd

In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\neeraj khatri\appdata\local\programs\python\python312\lib\site-packages (2.2.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.26.0 in c:\users\neeraj khatri\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\neeraj khatri\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\neeraj khatri\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\neeraj khatri\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\neeraj khatri\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
df = pd.read_csv("service.csv")

In [4]:
df.head(3)

   1  neeraj  data science
0  2  neeraj  data science
1  3  neeraj  data science
2  4  neeraj  data science

In [5]:
df.tail()

     1  neeraj  data science
147  5  neeraj  data science
148  6  neeraj  data science
149  7  neeraj  data science
150  8  neeraj  data science
151  9  neeraj  data science

In [6]:
df[["neeraj"]]

     neeraj
0    neeraj
1    neeraj
2    neeraj
3    neeraj
4    neeraj
..      ...
147  neeraj
148  neeraj
149  neeraj
150  neeraj
151  neeraj

[152 rows x 1 columns]

In [7]:
df[["data science", "neeraj"]]

     data science  neeraj
0    data science  neeraj
1    data science  neeraj
2    data science  neeraj
3    data science  neeraj
4    data science  neeraj
..            ...     ...
147  data science  neeraj
148  data science  neeraj
149  data science  neeraj
150  data science  neeraj
151  data science  neeraj

[152 rows x 2 columns]

In [8]:
df.dtypes

1                int64
neeraj          object
data science    object
dtype: object

In [11]:
nba = pd.read_html("https://www.espn.com/nba/seasonleaders/_/year/2015")

In [15]:
nba1 = nba[0]

In [16]:
type(nba1)

pandas.core.frame.DataFrame

In [17]:
nba1.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,Season Leaders - ESPN Rating,Season Leaders - ESPN Rating,Season Leaders - ESPN Rating,Season Leaders - ESPN Rating,Season Leaders - ESPN Rating,Season Leaders - ESPN Rating,Season Leaders - ESPN Rating,Season Leaders - ESPN Rating,Season Leaders - ESPN Rating,Season Leaders - ESPN Rating,Season Leaders - ESPN Rating,Season Leaders - ESPN Rating,Season Leaders - ESPN Rating,Season Leaders - ESPN Rating,Season Leaders - ESPN Rating
1,RK,PLAYER,TEAM,GP,MPG,FG%,FT%,3PM,RPG,APG,STPG,BLKPG,TOPG,PTS,ESPN
2,1,"Russell Westbrook, PG",LAC,67,34.4,.426,.835,1.3,7.3,8.6,2.1,0.2,4.4,28.1,47.4
3,2,"Anthony Davis, PF",LAL,68,36.1,.535,.805,0.0,10.2,2.2,1.5,2.9,1.4,24.4,45.5
4,3,"James Harden, SG",LAC,81,36.8,.440,.868,2.6,5.7,7.0,1.9,0.7,4.0,27.4,45.2

In [21]:
nba1.columns

Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], dtype='int64')

In [27]:
nba1.to_csv("nba.csv", index=False, columns=None)